.bottomArea {
    margin-bottom: 10px;
}

.content {
    margin-bottom: 10px;
    list-style-type: none;
    border-bottom: gray solid 2px; 
}

/* #name {
   
} */

#date {
    float: right;
    padding-right: 20px;
}

.content > #comment {

    margin-bottom: 20px;
}